/* utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.text-center {
    text-align: left;
}

.flex {/* align items right */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(1, 1fr);
}

/* margin */
.my-4 {
    margin: 3rem 0;
}

/* Padding */
.py-5 {
    padding: 4rem 0;
}

.card-2{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    color: #333;
    text-align: center;
    width: 220px;
}

.btn-outline {
    display: inline-block;
    padding: 10px 30px;/* top&bottom, right&left */
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.98);
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}